@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--grey);
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    transition: all 0.3s ease;
    z-index: 2000;
    scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar.close {
    width: 60px;
}

.sidebar .logo {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: var(--primary);
    padding-bottom: 20px;
}

.sidebar .logo .logo-name span {
    color: var(--dark);
}

.sidebar .logo .bx {
    min-width: 60px;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
}

.sidebar .side-menu {
    margin-top: 48px;
}

.sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active {
    background: var(--grey);
}

.sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    transition: all 0.3s ease;
}

.sidebar .side-menu li.active a {
    color: var(--success);
}

.sidebar .side-menu li a.logout {
    color: var(--danger);
}

.content {
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.sidebar.close ~ .content {
    width: calc(100% - 60px);
    left: 60px;
}

.content nav {
    height: 56px;
    background: var(--light);
    padding-right: 24px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
}

.content nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content nav form .form-input input {
    padding: 0 16px;
    height: 100%;
    background: var(--grey);
    border-radius: 36px;
    outline: none;
    color: var(--dark);
}

.content nav form .form-input button {
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.content main {
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.content main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content main .header .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.content main .insights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.content main .insights li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

.content main .insights li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .insights li:nth-child(1) .bx {
    background: var(--light-primary);
    color: var(--primary);
}

.content main .insights li:nth-child(2) .bx {
    background: var(--light-warning);
    color: var(--warning);
}

.content main .insights li:nth-child(3) .bx {
    background: var(--light-success);
    color: var(--success);
}

.content main .insights li:nth-child(4) .bx {
    background: var(--light-danger);
    color: var(--danger);
}

.content main .bottom-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
}

.content main .bottom-data > div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .orders table {
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .orders table th,
.content main .bottom-data .orders table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.content main .bottom-data .orders table tr:hover {
    background: var(--grey);
}

.content main .bottom-data .orders table tr td .status {
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.content main .bottom-data .orders table tr td .status.completed {
    background: var(--success);
}

.content main .bottom-data .orders table tr td .status.process {
    background: var(--primary);
}

.content main .bottom-data .orders table tr td .status.pending {
    background: var(--warning);
}

.content main .bottom-data .reminders .task-list li {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    padding: 14px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content main .bottom-data .reminders .task-list li .task-title {
    display: flex;
    align-items: center;
}

.content main .bottom-data .reminders .task-list li .bx {
    cursor: pointer;
}

.content main .bottom-data .reminders .task-list li.completed {
    border-left: 10px solid var(--success);
}

.content main .bottom-data .reminders .task-list li.not-completed {
    border-left: 10px solid var(--danger);
}

#dashboardSection, #filedSection {
    transition: opacity 0.3s ease;
}

#filedSection {
    opacity: 0;
    display: none;
}

#filedSection.show {
    opacity: 1;
    display: block;
}

#dashboardSection.hide {
    opacity: 0;
    display: none;
}

